* {
    font-family: 'Open Sans', sans-serif;
}

header {
    display:inline-flex;
    width:100%;
}

.title {
    width: 500px;
    padding-left: 60px;
}

.navigation {
    display: inline-flex;
    width:100%;
    justify-content: flex-end;
    margin-right: 20px;
}

.navigation h2 {
    margin-left: 50px;
    color: red;
    align-content: right;
}

.mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.attributes {
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.attributes h1 {
    margin-right: 80px;
    margin-left: 80px;
}

footer {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

footer div {
    width: 33%;

}

.footerTitle {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin-top: 40px;
}

.openingTimes {
   text-align: center;
   margin-left: 30px;
}

.social {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin-top: 40px;

}

.social img {
    height: 50px;
    width: 50px;
    margin-left: 20px; 
}


/*
    menu.hmtl styles
*/

.menuContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menuContainer div {
    margin-left: 10px;
    text-align: center;
    background-color: sandybrown;
    border-radius: 5px;
}

#displayedInformation {
    width: 100%;
    margin-top: 40px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.photo {
    align-content: center;
    height: 100px;
    margin-right: 50px;
}

.menuItem h1 {
    font-size: 20px;
}

.menuItem h2 {
    font-size: 10px;
}

.menu-item {
    align-content: center;
    justify-content: center;
}

.menu-item img {
    height: 200px;
}

.menuItem h1 {
    margin-right: 5px;
    margin-left: 5px;
}

.price {
    margin-left: 50px;
}

/*
    gallery.hmtl styles
*/

#title-container {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -10px;
}


#gallery-container {
    justify-content: space-around;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

#gallery-container img {
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;;
}

/*  
    app.js effected text 
*/

.item-info {
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.item-info img {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.item-info p {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px
}

.item-info h4 {
    margin-left: 10px;
    margin-right: 10px;
}

/*
    Book table page
*/

#bookTable {
    display: inline-flex;
}

#contactForm {
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 5px;
    width: 500px;
    align-content: center;
    justify-content: center;
    background-color: sandybrown;
    border-radius: 5px;
    font-size: 20px;
}

#contactForm input {
    margin-left: 20px;
}

#contactForm input#numberOfPeople {
    width: 300px
}

#mapImageContainer {
    margin-left: 180px;
}

#mapImage {
    height: 300px;
    border-radius: 5px;
}

/*
    Input Form 
*/


input#submitButton{
    margin-left: 150px;
}